<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">

  <!-- Custom Styles -->
  <link href="/css/styles.css" rel="stylesheet">
  <link href="/css/styles-equipment.css" rel="stylesheet">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">

  <!-- FontAwesome -->
  <script src="https://kit.fontawesome.com/9d250896cd.js" crossorigin="anonymous"></script>

  <title>Manage Equipment</title>
  <link rel="icon" href="/static/logo.png">
</head>

<body>
  <div class="container-fluid">
    <div class="main-container row">
      {{> sidenav act=active sb=sidebarData}}

      <div class="main col-md-9 col-lg-10 ml-sm-auto p-0">
        {{> topnav}}

        <main role="main" class="pt-3 px-4">
          <div class="row col-lg-10 mx-auto">

            <div class="col-12 d-flex justify-content-between mb-5">
              <h1>Manage equipment</h1>
              <a id="addEquipment" data-toggle="modal" href="#addEquipmentModal" class="btn btn-secondary my-auto"><i
                  class="fas fa-plus"></i> Add</a>
            </div>

            <div class="col-lg-12 row align-items-end mx-auto px-0">
              {{#each equipmentList}}
              <div class="col-lg-4 col-md-6 col-12">
                <div class="card equipment-card">
                  <div class="equipment-img mx-auto" style="background-image: url({{imageURL}})">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <div class="card-text mb-3">
                      <div>
                        <span class="card-text-label">On Rent: </span><span>0</span>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer d-flex flex-row justify-content-between">
                    <span class="badge badge-pill">{{available}}/{{quantity}} available</span>
                    <!--TODO: -->
                    <a data-toggle="modal" href="#editEquipmentModal" data-equipmentid="{{_id}}">
                      <img src="/static/icons/active-manage-reservations.png" alt="Edit" style="height: 2rem; width: 2rem;">
                    </a>
                    <div class="color-container"></div>
                  </div>
                </div>
              </div>
              {{/each}}
            </div>
          </div>
        </main>
        {{> footer}}
      </div>
    </div>
  </div>

  <div class="modal fade" id="addEquipmentModal" tabindex="-1" role="dialog" aria-labelledby="equipmentModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="equipmentModalLabel">Add Equipment</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-horizontal col-lg-10 mx-auto" method="POST" action="/manage-equipment/"
            id="addEquipForm" enctype="multipart/form-data">
            <div class="form-group form-inline input-group">
              <label for="equipment-name" class="col-lg-4 justify-content-start p-0">Name</label>
              <input type="text" class="form-control mb-2 col-lg-8" placeholder="Enter equipment name" name="name" required>
            </div>
            <div class="form-group form-inline input-group">
              <label for="equipment-ct" class="col-lg-4 justify-content-start p-0">Amount on stock</label>
              <input type="number" class="form-control mb-2 col-lg-8" placeholder="Enter number of stocks" name="count" required>
            </div>
            <div class="form-group form-inline input-group">
              <label for="equipment-pic" class="col-lg-4 justify-content-start p-0">Image</label>
              <input type="file" class="form-control-file mb-2 col-lg-8" name="equipmentImage" accept="image/*" required>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" form="addEquipForm">Add</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="editEquipmentModal" tabindex="-1" role="dialog" aria-labelledby="equipmentModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="equipmentModalLabel">Edit Equipment</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-horizontal col-lg-10 mx-auto" method="POST" action="/manage-equipment/update"
            id="editEquipForm" enctype="multipart/form-data">
            <!--FIXME: -->
            <input type="hidden" name="equipmentid" id="editHiddenEquipID">

            <div class="form-group form-inline input-group">
              <label for="equipment-name" class="col-lg-4 justify-content-start p-0">Name</label>
              <input type="text" class="form-control mb-2 col-lg-8" placeholder="Enter equipment name" name="name">
            </div>
            <div class="form-group form-inline input-group">
              <label for="equipment-ct" class="col-lg-4 justify-content-start p-0">Amount on stock</label>
              <input type="number" class="form-control mb-2 col-lg-8" placeholder="Enter number of stocks" name="count">
            </div>
            <div class="form-group form-inline input-group">
              <label for="equipment-pic" class="col-lg-4 justify-content-start p-0">Image</label>
              <input type="file" class="form-control-file mb-2 col-lg-8" name="equipmentImage" accept="image/*"> {{!-- TODO: --}}
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <a class="btn btn-warning mr-auto" data-dismiss="modal" data-toggle="modal" href="#delEquipmentModal">Delete</a>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" form="editEquipForm">Save</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="delEquipmentModal" tabindex="-1" role="dialog" aria-labelledby="equipmentModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="equipmentModalLabel">Delete Equipment</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body col-lg-10 mx-auto">
          <form method="POST" action="/manage-equipment/delete" id="delEquipForm">
            <input type="hidden" name="equipmentid" id="delHiddenEquipID">
          </form>
          <h5>Do you really want to delete this equipment?</h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" form="delEquipForm">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="/js/bootstrap.js"></script>
  <script type="text/javascript" src="/js/styles.js"></script>
  <script>
    $('#delEquipmentModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var equipmentID = button.data('equipmentid'); /*TODO:*/
      $('#delHiddenEquipID').val($('#editHiddenEquipID').val());
    });

    $('#editEquipmentModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var equipmentID = button.data('equipmentid');
      $('#editHiddenEquipID').val(equipmentID);
    });
  </script>
</body>

</html>