<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">

  <!-- Custom Styles -->
  <link href="/css/styles.css" rel="stylesheet">
  <link href="/css/styles-manage-reservations.css" rel="stylesheet">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">

  <!-- FontAwesome -->
  <script src="https://kit.fontawesome.com/9d250896cd.js" crossorigin="anonymous"></script>

  <title>Manage Reservations</title>
  <link rel="icon" href="/static/logo.png">
</head>

<body>
  <div class="container-fluid">
    <div class="main-container row">
      {{> sidenav act=active sb=sidebarData}}

      <div class="main col-md-9 col-lg-10 ml-sm-auto p-0">
        {{> topnav}}

        <main role="main" class="pt-3 px-4">
          <div class="row px-0 col-lg-10 mx-auto">

            <h1 class="col-12 mb-5">Manage reservations</h1>

            <div class="col-lg-6 mb-5">
              <div class="card pinned-card h-100">
                <h5 class="card-header">Pending</h5>
                <div class="card-body">
                  {{#if pendingEarlier}}
                  <div class="card-subtitle">Earlier</div>
                  {{#each pendingEarlier}}
                  <div class="card-item">
                    <div class="d-flex flex-row flex-nowrap">
                      <div class="col-1 icon my-auto"
                        id="{{#if (isLocker reservationType)}}locker{{else}}equipment{{/if}}"></div>
                      <div class="d-flex flex-column mx-4">
                        <div class="font-weight-bold">
                          {{userID}}
                        </div>
                        <div>
                          {{dateStr dateCreated}}
                        </div>
                        <div class="font-weight-bold">
                          {{#if (isLocker reservationType)}}
                          {{description}}
                          {{else}}
                          {{title}}, {{description}}
                          {{/if}}
                        </div>
                      </div>
                      <a class="col-1 icon my-auto response" id="accept" href="#" title="Accept"></a>
                      <a class="col-1 icon my-auto response" id="deny" href="#" title="Deny"></a>
                    </div>
                  </div>
                  {{/each}}
                  <br>
                  {{/if}}

                  {{#if pendingToday}}
                  {{#each pendingToday}}
                  <div class="card-subtitle">Today</div>
                  <div class="card-item">
                    <div class="d-flex flex-row flex-nowrap">
                      <div class="col-1 icon my-auto"
                        id="{{#if (isLocker reservationType)}}locker{{else}}equipment{{/if}}"></div>
                      <div class="d-flex flex-column mx-4">
                        <div>
                          {{dateStr dateCreated}}
                        </div>
                        <div class="font-weight-bold">
                          {{userID}}
                        </div>
                        <div>
                          {{#if (isLocker reservationType)}}
                          <span class="font-weight-bold">{{description}}</span>
                          {{else}}
                          <span class="font-weight-bold">{{title}}</span>, {{description}}
                          {{/if}}
                        </div>
                      </div>
                      <a class="col-1 icon my-auto response" id="accept" href="#" title="Accept"></a>
                      <a class="col-1 icon my-auto response" id="deny" href="#" title="Deny"></a>
                    </div>
                  </div>
                  {{/each}}
                  {{/if}}
                </div>
              </div>
            </div>

            <div class="col-lg-6 mb-5">
              <div class="card pinned-card h-100">
                <h5 class="card-header">Today's pickups and payments</h5>
                <div class="card-body">
                  <div class="card-subtitle"> as of {{dateTimeToday}}</div>
                  {{#each pickupPayToday}}
                  <div class="card-item">
                    <div class="d-flex flex-row flex-nowrap">
                      <div class="col-1 icon my-auto" id="{{#if (isLocker reservationType)}}locker{{else}}equipment{{/if}}"></div>
                      <div class="d-flex flex-column mx-4">
                        <div class="font-weight-bold">
                          {{userID}}
                        </div>
                        <div>
                          {{#if (isLocker reservationType)}}
                            {{description}}
                          {{else}}
                            {{title}}, {{description}}
                          {{/if}}
                        </div>
                        <div>
                          Remarks: {{remarks}}
                        </div>
                      </div>
                      <a class="col-1 icon my-auto response" id="accept" href="#" title="Accept"></a>
                      <a class="col-1 icon my-auto response" id="deny" href="#" title="Deny"></a>
                    </div>
                  </div>
                  {{/each}}
                </div>
              </div>
            </div>

            <div class="col-12 mb-5">
              <div class="card">
                <div class="card-body">
                  <div class="col-12 mb-5 d-flex px-0">
                    <ul class="nav nav-tabs">
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button"
                          aria-haspopup="true" aria-expanded="false">Active</a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item active" data-toggle="tab" href="#activeLockers">Lockers</a>
                          <a class="dropdown-item" data-toggle="tab" href="#activeEquipment">Equipment</a>
                        </div>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                          aria-haspopup="true" aria-expanded="false">Past</a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" data-toggle="tab" href="#pastLockers">Lockers</a>
                          <a class="dropdown-item" data-toggle="tab" href="#pastEquipment">Equipment</a>
                        </div>
                      </li>
                    </ul>
                  </div>

                  <div class="col-12 px-0">
                    <div class="tab-content">
                      <div id="activeLockers" class="tab-pane active">

                        <h5 class="mb-4">Locker rentals</h5>

                        <div class="row">
                          <div class="col-md-6 input-group mb-2">
                            <div class="form-group form-inline my-auto">
                              <input type="search" id="ALsearchBox" class="form-control" placeholder="Filter">
                            </div>
                          </div>
                          <div class="col-md-6 d-flex">
                            <nav class="ml-md-auto" aria-label="Page navigation example">
                              <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                              </ul>
                            </nav>
                          </div>
                        </div>

                        <div class="col-12 table-responsive px-0">
                          <table class="table table-hover">
                            <thead class="">
                              <tr class="active head">
                                <th>ID number</th>
                                <th>Date requested</th>
                                <th>Locker number</th>
                                <th>Panel type</th>
                                <th>Location</th>
                                <th>Balance</th>
                                <th>Status</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody id="ALtable">
                              <tr>
                                <td>11642343</td>
                                <td>02/24/2020</td>
                                <td>612</td>
                                <td>Big</td>
                                <td>1st, St. Anne</td>
                                <td>Php 0.00</td>
                                <td>
                                  <div class="badge badge-pill status-on-rent">on rent</div>
                                </td>
                                <td>
                                  <a class="table-link" data-toggle="modal" href="#editReservationStatusModal">
                                    <div class="icon" id="edit"></div>
                                  </a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>

                      <div id="activeEquipment" class="tab-pane fade">

                        <h5 class="mb-4">Equipment rentals</h5>

                        <div class="row">
                          <div class="col-md-6 input-group mb-2">
                            <div class="form-group form-inline my-auto">
                              <input type="search" id="AEsearchBox" class="form-control" placeholder="Filter">
                            </div>
                          </div>
                          <div class="col-md-6 d-flex">
                            <nav class="ml-md-auto" aria-label="Page navigation example">
                              <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                              </ul>
                            </nav>
                          </div>
                        </div>

                        <div class="table-responsive px-0">
                          <table class="table table-hover">
                            <thead class="">
                              <tr class="active">
                                <th>ID number</th>
                                <th>Date requested</th>
                                <th>Equipment</th>
                                <th>Time needed</th>
                                <th>Balance</th>
                                <th>Status</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody id="AEtable">
                              <tr>
                                <td>11242343</td>
                                <td>02/24/2020</td>
                                <td>LAN cable</td>
                                <td>9:15am</td>
                                <td>Php 0.00</td>
                                <td>
                                  <div class="badge badge-pill status-pending">pending</div>
                                </td>
                                <td>
                                  <a class="table-link" data-toggle="modal" href="#editReservationStatusModal">
                                    <div class="icon" id="edit"></div>
                                  </a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>

                      </div>

                      <div id="pastLockers" class="tab-pane fade">

                        <h5 class="mb-4">Locker rentals</h5>

                        <div class="row">
                          <div class="col-md-6 input-group mb-2">
                            <div class="form-group form-inline my-auto">
                              <input type="search" id="PLsearchBox" class="form-control" placeholder="Filter">
                            </div>
                          </div>
                          <div class="col-md-6 d-flex">
                            <nav class="ml-md-auto" aria-label="Page navigation example">
                              <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                              </ul>
                            </nav>
                          </div>
                        </div>

                        <div class="table-responsive px-0">
                          <table class="table table-hover">
                            <thead class="">
                              <tr class="active">
                                <th>ID number</th>
                                <th>Date requested</th>
                                <th>Locker number</th>
                                <th>Location</th>
                                <th>Status</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody id="PLtable">
                              <tr>
                                <td>11342343</td>
                                <td>02/29/2020</td>
                                <td>403</td>
                                <td>4th, St. Andrews</td>
                                <td>
                                  <div class="badge badge-pill status-returned">returned</div>
                                </td>
                                <td>
                                  <a class="table-link" data-toggle="modal" href="#editReservationStatusModal">
                                    <div class="icon" id="edit"></div>
                                  </a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>

                      </div>

                      <div id="pastEquipment" class="tab-pane fade">

                        <h5 class="mb-4">Equipment rentals</h5>

                        <div class="row">
                          <div class="col-md-6 input-group mb-2">
                            <div class="form-group form-inline my-auto">
                              <input type="search" id="PEsearchBox" class="form-control" placeholder="Filter">
                            </div>
                          </div>
                          <div class="col-md-6 d-flex">
                            <nav class="ml-md-auto" aria-label="Page navigation example">
                              <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                              </ul>
                            </nav>
                          </div>
                        </div>

                        <div class="table-responsive px-0">
                          <table class="table table-hover">
                            <thead class="">
                              <tr class="active">
                                <th>ID number</th>
                                <th>Date reserved</th>
                                <th>Equipment</th>
                                <th>Time needed</th>
                                <th>Status</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody id="PEtable">
                              <tr>
                                <td>11342343</td>
                                <td>02/24/2020</td>
                                <td>LAN cable</td>
                                <td>9:15am</td>
                                <td>
                                  <div class="badge badge-pill status-returned">returned</div>
                                </td>
                                <td>
                                  <a class="table-link" data-toggle="modal" href="#editReservationStatusModal">
                                    <div class="icon" id="edit"></div>
                                  </a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <footer class="py-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">De La Salle University - Manila</p>
            <p class="mb-1">Pahiram Services</p>
          </footer>

        </main>
      </div>
    </div>
  </div>

  <div class="modal fade" id="editReservationStatusModal" tabindex="-1" role="dialog" aria-labelledby="statusModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="statusModalLabel">Update Reservation Status</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body col-lg-10 mx-auto">
          <form class="form-horizontal">
            <div class="form-group form-inline input-group">
              <label for="status" class="col-lg-4 justify-content-start">Type:</label>
              <select class="form-control col-lg-8" id="status">
                <option value="status-manage-occupied">Pending</option>
                <option value="status-manage-broken">To Pay</option>
                <option value="status-manage-vacant">On Rent</option>
                <option value="status-manage-uncleared">Returned</option>
                <option value="status-manage-uncleared">Uncleared</option>
                <option value="status-manage-uncleared">Denied</option>
              </select>
            </div>
            <div class="form-group form-inline input-group">
              <label for="remarks" class="col-lg-4 justify-content-start">Remarks</label>
              <input type="text" class="form-control col-lg-8" placeholder="Enter Remarks" id="remarks">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" id="statusSubmit">Submit</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="/js/bootstrap.js"></script>
  <script type="text/javascript" src="/js/styles.js"></script>

  <script>
    $(document).ready(function () {
      $("#ALsearchBox").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#ALtable tr").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
      $("#AEsearchBox").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#AEtable tr").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
      $("#PLsearchBox").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#PLtable tr").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
      $("#PEsearchBox").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#PEtable tr").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
  </script>
</body>

</html>