<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">

  <!-- Custom Styles -->
  <link href="/css/styles.css" rel="stylesheet">
  <link href="/css/styles-manage-reservations.css" rel="stylesheet">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">

  <!-- FontAwesome -->
  <script src="https://kit.fontawesome.com/9d250896cd.js" crossorigin="anonymous"></script>

  <title>Manage Reservations</title>
  <link rel="icon" href="/static/logo.png">
</head>

<body>
  <div class="container-fluid">
    <div class="main-container row">
      {{> sidenav act=active sb=sidebarData}}

      <div class="main col-md-9 col-lg-10 ml-sm-auto p-0">
        {{> topnav}}

        <main role="main" class="pt-3 px-4">
          <div class="row px-0 col-lg-10 mx-auto">

            <h1 class="col-12 mb-5">Manage reservations</h1>

            <div class="col-lg-6 mb-5">
              <div class="card pinned-card h-100">
                <h5 class="card-header">Pending</h5>
                <div class="card-body">
                  {{#unless pendingEarlier}}{{#unless pendingToday}}
                  <div class="font-italic my-4 text-center">All caught up</div>
                  {{/unless}}{{/unless}}
                  {{#if pendingEarlier}}
                  <div class="card-subtitle">Earlier</div>
                  {{#each pendingEarlier}}
                  <div class="card-item">
                    <div class="d-flex flex-row flex-nowrap">
                      <div class="d-flex flex-row flex-nowrap" data-toggle="modal" data-target="#editReservationModal"
                        data-title="{{title}}" data-userid="{{userID}}" data-datecreated="{{dateStr dateCreated}}"
                        data-status="{{status}}" data-description="{{description}}" data-remarks="{{remarks}}"
                        data-penalty="{{penalty}}" data-type="{{reservationType}}" data-id="{{_id}}">
                        <div class="col-1 icon my-auto"
                          id="{{#if (isLocker reservationType)}}locker{{else}}equipment{{/if}}"></div>
                        <div class="d-flex flex-fill flex-column mx-4">
                          <div>
                            {{dateStr dateCreated}}
                          </div>
                          <div>
                            {{#if (isLocker reservationType)}}
                            <span class="font-weight-bold">{{description}}</span>
                            {{else}}
                            <span class="font-weight-bold">{{title}}</span>, {{description}}
                            {{/if}}
                          </div>
                        </div>
                      </div>
                      <a class="col-1 icon my-auto response" data-toggle="modal" data-target="#approveReservationModal"
                        id="accept"></a>
                      <a class="col-1 icon my-auto response" data-toggle="modal" data-target="#denyReservationModal"
                        id="deny" href="#" title="Deny"></a>
                    </div>
                  </div>
                  {{/each}}
                  <br>
                  {{/if}}

                  {{#if pendingToday}}
                  <div class="card-subtitle">Today</div>
                  {{#each pendingToday}}
                  <div class="card-item">
                    <div class="d-flex flex-row flex-nowrap">
                      <div class="d-flex flex-row flex-nowrap" data-toggle="modal" data-target="#editReservationModal"
                        data-title="{{title}}" data-userid="{{userID}}" data-datecreated="{{dateStr dateCreated}}"
                        data-status="{{status}}" data-description="{{description}}" data-remarks="{{remarks}}"
                        data-penalty="{{penalty}}" data-type="{{reservationType}}" data-id="{{_id}}">
                        <div class="col-1 icon my-auto"
                          id="{{#if (isLocker reservationType)}}locker{{else}}equipment{{/if}}"></div>
                        <div class="d-flex flex-fill flex-column mx-4">
                          <div>
                            {{#if (isLocker reservationType)}}
                            <span class="font-weight-bold">{{description}}</span>
                            {{else}}
                            <span class="font-weight-bold">{{title}}</span>, {{description}}
                            {{/if}}
                          </div>
                        </div>
                      </div>
                      <a class="col-1 icon my-auto response" data-toggle="modal" data-target="#approveReservationModal"
                        id="accept"></a>
                      <a class="col-1 icon my-auto response" data-toggle="modal" data-target="#denyReservationModal"
                        id="deny" href="#" title="Deny"></a>
                    </div>
                  </div>
                  {{/each}}
                  {{/if}}
                </div>
              </div>
            </div>

            <div class="col-lg-6 mb-5">
              <div class="card pinned-card h-100">
                <h5 class="card-header">Today's pickups and payments</h5>
                <div class="card-body">
                  {{#if pickupPayToday}}
                  <div class="card-subtitle"> as of {{dateTimeToday}}</div>
                  {{else}}
                  <div class="font-italic my-4 text-center">All caught up</div>
                  {{/if}}
                  {{#each pickupPayToday}}
                  <div class="card-item" data-toggle="modal" data-target="#editReservationModal" data-title="{{title}}"
                    data-userid="{{userID}}" data-datecreated="{{dateStr dateCreated}}" data-status="{{status}}"
                    data-description="{{description}}" data-remarks="{{remarks}}" data-penalty="{{penalty}}"
                    data-type="{{reservationType}}" data-id="{{_id}}">
                    <div class="d-flex flex-row flex-nowrap">
                      <div class="col-1 icon my-auto"
                        id="{{#if (isLocker reservationType)}}locker{{else}}equipment{{/if}}"></div>
                      <div class="d-flex flex-column mx-4">
                        <div>
                          {{#if (isLocker reservationType)}}
                          {{description}}
                          {{else}}
                          {{title}}, {{description}}
                          {{/if}}
                        </div>
                        <div>
                          Remarks: {{remarks}}
                        </div>
                      </div>
                    </div>
                  </div>
                  {{/each}}
                </div>
              </div>
            </div>

            <div class="col-12 mb-5">
              <div class="card">
                <div class="card-body">
                  <div class="col-12 mb-5 d-flex px-0">
                    <ul class="nav nav-tabs">
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button"
                          aria-haspopup="true" aria-expanded="false">Active</a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item active" data-toggle="tab" href="#activeLockers">Lockers</a>
                          <a class="dropdown-item" data-toggle="tab" href="#activeEquipment">Equipment</a>
                        </div>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                          aria-haspopup="true" aria-expanded="false">Past</a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" data-toggle="tab" href="#pastLockers">Lockers</a>
                          <a class="dropdown-item" data-toggle="tab" href="#pastEquipment">Equipment</a>
                        </div>
                      </li>
                    </ul>
                  </div>

                  <div class="col-12 px-0">
                    <div class="tab-content">
                      <div id="activeLockers" class="tab-pane active">

                        <h5 class="mb-4">Locker rentals</h5>

                        <div class="row">
                          <div class="col-md-6 input-group mb-2">
                            <div class="form-group form-inline my-auto">
                              <input type="search" id="ALsearchBox" class="form-control" placeholder="Filter">
                            </div>
                          </div>
                          <div class="col-md-6 d-flex">
                            <nav class="ml-md-auto" aria-label="Page navigation example">
                              <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                              </ul>
                            </nav>
                          </div>
                        </div>

                        <div class="col-12 table-responsive px-0">
                          {{#if activeLockers}}
                          <table class="table table-hover">
                            <thead class="">
                              <tr class="active head">
                                <th>ID number</th>
                                <th>Date requested</th>
                                <th>Description</th>
                                <th>Penalty</th>
                                <th>Status</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody id="ALtable">
                              {{#each activeLockers}}
                              <tr>
                                <td>{{userID}}</td>
                                <td>{{dateStr dateCreated}}</td>
                                <td>{{description}}</td>
                                <td>Php {{penalty}}</td>
                                <td>
                                  <div class="badge badge-pill
                                  {{#if (status-on-rent status)}}
                                  status-on-rent
                                  {{else}}
                                  status-uncleared
                                  {{/if}}
                                  ">
                                    {{status}}
                                  </div>
                                </td>
                                <td>
                                  <a class="table-link" data-toggle="modal" href="#editReservationModal"
                                    data-title="{{title}}" data-userid="{{userID}}"
                                    data-datecreated="{{dateStr dateCreated}}" data-status="{{status}}"
                                    data-description="{{description}}" data-remarks="{{remarks}}"
                                    data-penalty="{{penalty}}" data-type="{{reservationType}}" data-id="{{_id}}">
                                    <div class="icon" id="edit"></div>
                                  </a>
                                </td>
                              </tr>
                              {{/each}}
                            </tbody>
                          </table>
                          {{else}}
                          <div class="font-italic my-4 text-center">No active reservations</div>
                          {{/if}}
                        </div>
                      </div>

                      <div id="activeEquipment" class="tab-pane fade">

                        <h5 class="mb-4">Equipment rentals</h5>

                        <div class="row">
                          <div class="col-md-6 input-group mb-2">
                            <div class="form-group form-inline my-auto">
                              <input type="search" id="AEsearchBox" class="form-control" placeholder="Filter">
                            </div>
                          </div>
                          <div class="col-md-6 d-flex">
                            <nav class="ml-md-auto" aria-label="Page navigation example">
                              <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                              </ul>
                            </nav>
                          </div>
                        </div>

                        <div class="table-responsive px-0">
                          {{#if activeEquipment}}
                          <table class="table table-hover">
                            <thead class="">
                              <tr class="active">
                                <th>ID number</th>
                                <th>Date requested</th>
                                <th>Equipment</th>
                                <th>Description</th>
                                <th>Penalty</th>
                                <th>Status</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody id="AEtable">
                              {{#each activeEquipment}}
                              <tr>
                                <td>{{userID}}</td>
                                <td>{{dateStr dateCreated}}</td>
                                <td>{{title}}</td>
                                <td>{{description}}</td>
                                <td>Php {{penalty}}</td>
                                <td>
                                  <div class="badge badge-pill
                                  {{#if (status-on-rent status)}}
                                  status-on-rent
                                  {{else}}
                                  status-uncleared
                                  {{/if}}
                                  ">
                                    {{status}}
                                  </div>
                                </td>
                                <td>
                                  <a class="table-link" data-toggle="modal" href="#editReservationModal"
                                    data-title="{{title}}" data-userid="{{userID}}"
                                    data-datecreated="{{dateStr dateCreated}}" data-status="{{status}}"
                                    data-description="{{description}}" data-remarks="{{remarks}}"
                                    data-penalty="{{penalty}}" data-type="{{reservationType}}" data-id="{{_id}}">
                                    <div class="icon" id="edit"></div>
                                  </a>
                                </td>
                              </tr>
                              {{/each}}
                            </tbody>
                          </table>
                          {{else}}
                          <div class="font-italic my-4 text-center">No active reservations</div>
                          {{/if}}
                        </div>

                      </div>

                      <div id="pastLockers" class="tab-pane fade">

                        <h5 class="mb-4">Locker rentals</h5>

                        <div class="row">
                          <div class="col-md-6 input-group mb-2">
                            <div class="form-group form-inline my-auto">
                              <input type="search" id="PLsearchBox" class="form-control" placeholder="Filter">
                            </div>
                          </div>
                          <div class="col-md-6 d-flex">
                            <nav class="ml-md-auto" aria-label="Page navigation example">
                              <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                              </ul>
                            </nav>
                          </div>
                        </div>

                        <div class="table-responsive px-0">
                          {{#if pastLockers}}
                          <table class="table table-hover">
                            <thead class="">
                              <tr class="active">
                                <th>ID number</th>
                                <th>Date requested</th>
                                <th>Description</th>
                                <th>Status</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody id="PLtable">
                              {{#each pastLockers}}
                              <tr>
                                <td>{{userID}}</td>
                                <td>{{dateStr dateCreated}}</td>
                                <td>{{description}}</td>
                                <td>
                                  <div class="badge badge-pill
                                  {{#if (status-denied status)}}
                                  status-denied
                                  {{else}}
                                  status-returned
                                  {{/if}}
                                  ">
                                    {{status}}
                                  </div>
                                </td>
                                <td>
                                  <a class="table-link" data-toggle="modal" href="#editReservationModal"
                                    data-title="{{title}}" data-userid="{{userID}}"
                                    data-datecreated="{{dateStr dateCreated}}" data-status="{{status}}"
                                    data-description="{{description}}" data-remarks="{{remarks}}"
                                    data-penalty="{{penalty}}" data-type="{{reservationType}}" data-id="{{_id}}">
                                    <div class="icon" id="edit"></div>
                                  </a>
                                </td>
                              </tr>
                              {{/each}}
                            </tbody>
                          </table>
                          {{else}}
                          <div class="font-italic my-4 text-center">No past reservations</div>
                          {{/if}}
                        </div>

                      </div>

                      <div id="pastEquipment" class="tab-pane fade">

                        <h5 class="mb-4">Equipment rentals</h5>

                        <div class="row">
                          <div class="col-md-6 input-group mb-2">
                            <div class="form-group form-inline my-auto">
                              <input type="search" id="PEsearchBox" class="form-control" placeholder="Filter">
                            </div>
                          </div>
                          <div class="col-md-6 d-flex">
                            <nav class="ml-md-auto" aria-label="Page navigation example">
                              <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                              </ul>
                            </nav>
                          </div>
                        </div>

                        <div class="table-responsive px-0">
                          {{#if pastEquipment}}
                          <table class="table table-hover">
                            <thead class="">
                              <tr class="active">
                                <th>ID number</th>
                                <th>Date reserved</th>
                                <th>Equipment</th>
                                <th>Description</th>
                                <th>Status</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody id="PEtable">
                              {{#each pastEquipment}}
                              <tr>
                                <td>{{userID}}</td>
                                <td>{{dateStr dateCreated}}</td>
                                <td>{{title}}</td>
                                <td>{{description}}</td>
                                <td>
                                  <div class="badge badge-pill
                                  {{#if (status-denied status)}}
                                  status-denied
                                  {{else}}
                                  status-returned
                                  {{/if}}
                                  ">
                                    {{status}}
                                  </div>
                                </td>
                                <td>
                                  <a class="table-link" data-toggle="modal" href="#editReservationModal"
                                    data-title="{{title}}" data-userid="{{userID}}"
                                    data-datecreated="{{dateStr dateCreated}}" data-status="{{status}}"
                                    data-description="{{description}}" data-remarks="{{remarks}}"
                                    data-penalty="{{penalty}}" data-type="{{reservationType}}" data-id="{{_id}}">
                                    <div class="icon" id="edit"></div>
                                  </a>
                                </td>
                              </tr>
                              {{/each}}
                            </tbody>
                          </table>
                          {{else}}
                          <div class="font-italic my-4 text-center">No past reservations</div>
                          {{/if}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <footer class="py-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">De La Salle University - Manila</p>
            <p class="mb-1">Pahiram Services</p>
          </footer>

        </main>
      </div>
    </div>
  </div>

  <div class="modal fade" id="editReservationModal" tabindex="-1" role="dialog" aria-labelledby="statusModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          {{!-- <span class="badge badge-pill status-on-rent mr-4">hello</span> --}}
          <h5 class="modal-title" id="statusModalLabel">Update Reservation Status</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form class="form-horizontal" method="post" action="/reservations/manage/update">
          <input type="hidden" id="reservationID" name="reservationID">
          <input type="hidden" id="reservationType" name="reservationType">
          <div class="modal-body col-lg-10 mx-auto">
            <div class="d-flex flex-column">
              <div class="font-weight-bold pl-2 mb-2" id="idNum"></div>
              <div class="d-flex flex-row align-items-center">
                <div class="icon col-1 mr-2" id="date"></div>
                <div class="" id="dateCreated"></div>
              </div>
              <div class="d-flex flex-row align-items-center mb-4">
                <div class="icon col-1 mr-2" id="desc"></div>
                <div class="" id="description"></div>
              </div>
              <div class="form-group form-inline input-group">
                <label for="status" class="col-lg-4 justify-content-start pl-2">Status:</label>
                <div class="col-lg-8 px-0">
                  <select class="form-control custom-select" name="status" id="status">
                    <option value="status-manage-pending">Pending</option>
                    <option value="status-manage-pickup-pay">To Pay</option>
                    <option value="status-manage-on-rent">On Rent</option>
                    <option value="status-manage-returned">Returned</option>
                    <option value="status-manage-uncleared">Uncleared</option>
                    <option value="status-manage-denied">Denied</option>
                  </select>
                </div>
              </div>
              <div class="form-group form-inline input-group" id="remarksForm">
                <label for="remarks" class="col-lg-4 justify-content-start pl-2">Remarks</label>
                <input type="text" class="form-control col-lg-8" name="remarks" placeholder="Enter Remarks"
                  id="remarks">
              </div>
              <div class="form-group form-inline input-group" id="penaltyForm">
                <label for="penalty" class="col-lg-4 justify-content-start pl-2">Penalty</label>
                <div class="input-group-prepend">
                  <div class="input-group-text">Php</div>
                </div>
                <input type="number" class="form-control col-lg-8" name="penalty" placeholder="Penalty" id="penalty">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-primary" id="statusSubmit" value="Update">
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="approveReservationModal" tabindex="-1" role="dialog"
    aria-labelledby="approveStatusModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title mr-2" id="approveStatusModalLabel">Approve Reservation: </h5>
          <h5 class="modal-title" id="approveReservationTitle"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form class="form-horizontal" method="post" action="/reservations/manage/update">
          <input type="hidden" id="approveReservationID" name="reservationID">
          <input type="hidden" id="approveReservationType" name="reservationType">
          <div class="modal-body col-lg-10 mx-auto">
            <div class="d-flex flex-column">
              <div class="font-weight-bold pl-2 mb-2" id="idNum"></div>
              <div class="d-flex flex-row align-items-center">
                <div class="icon col-1 mr-2" id="date"></div>
                <div class="" id="approveDateCreated"></div>
              </div>
              <div class="d-flex flex-row align-items-center mb-4">
                <div class="icon col-1 mr-2" id="desc"></div>
                <div class="" id="approveDescription"></div>
              </div>
              <div class="form-group form-inline input-group" id="approveRemarksForm">
                <label for="remarks" class="col-lg-4 justify-content-start pl-2">Remarks</label>
                <input type="text" class="form-control col-lg-8" name="remarks" placeholder="Enter Remarks"
                  id="approveRemarks">
              </div>
              <div class="form-group form-inline input-group" id="approvePenaltyForm">
                <label for="penalty" class="col-lg-4 justify-content-start pl-2">Penalty</label>
                <div class="input-group-prepend">
                  <div class="input-group-text">Php</div>
                </div>
                <input type="number" class="form-control col-lg-8" name="penalty" placeholder="Penalty"
                  id="approvePenalty">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-primary" id="approveStatusSubmit" value="Approve Reservation">
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="denyReservationModal" tabindex="-1" role="dialog"
    aria-labelledby="denyStatusModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title mr-2" id="denyStatusModalLabel">Deny Reservation: </h5>
          <h5 class="modal-title" id="denyReservationTitle"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form class="form-horizontal" method="post" action="/reservations/manage/update">
          <input type="hidden" id="denyReservationID" name="reservationID">
          <input type="hidden" id="denyReservationType" name="reservationType">
          <div class="modal-body col-lg-10 mx-auto">
            <div class="d-flex flex-column">
              <div class="font-weight-bold pl-2 mb-2" id="idNum"></div>
              <div class="d-flex flex-row align-items-center">
                <div class="icon col-1 mr-2" id="date"></div>
                <div class="" id="denyDateCreated"></div>
              </div>
              <div class="d-flex flex-row align-items-center mb-4">
                <div class="icon col-1 mr-2" id="desc"></div>
                <div class="" id="denyDescription"></div>
              </div>
              <div class="form-group form-inline input-group" id="denyRemarksForm">
                <label for="remarks" class="col-lg-4 justify-content-start pl-2">Remarks</label>
                <input type="text" class="form-control col-lg-8" name="remarks" placeholder="Enter Remarks"
                  id="denyRemarks">
              </div>
              <div class="form-group form-inline input-group" id="denyPenaltyForm">
                <label for="penalty" class="col-lg-4 justify-content-start pl-2">Penalty</label>
                <div class="input-group-prepend">
                  <div class="input-group-text">Php</div>
                </div>
                <input type="number" class="form-control col-lg-8" name="penalty" placeholder="Penalty"
                  id="denyPenalty">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-primary" id="denyStatusSubmit" value="Deny Reservation">
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="/js/bootstrap.js"></script>

  <script>
    $(document).ready(function () {
      $("#ALsearchBox").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#ALtable tr").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
      $("#AEsearchBox").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#AEtable tr").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
      $("#PLsearchBox").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#PLtable tr").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
      $("#PEsearchBox").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#PEtable tr").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });

    $('#approveReservationModal').on('show.bs.modal', (event) => {
      var btn = $(event.relatedTarget).prev();
      var reservation = {
        id: btn.data('id'),
        title: btn.data('title'),
        userID: btn.data('userid'),
        dateCreated: btn.data('datecreated'),
        status: btn.data('status'),
        description: btn.data('description'),
        remarks: btn.data('remarks'),
        penalty: btn.data('penalty'),
        type: btn.data('type')
      }

      $('#approveReservationTitle').text(reservation.title);
      $('#approveReservationID').text(reservation.id);
      $('#approveReservationType').text(reservation.type);
      $('#approveDateCreated').text(reservation.dateCreated);
      $('#approveDescription').text(reservation.description);
      $('#approveRemarks').val(reservation.remarks);

      $('#approvePenaltyForm').css('display', 'none');
    });

    $('#denyReservationModal').on('show.bs.modal', (event) => {
      var btn = $(event.relatedTarget).prev().prev();
      var reservation = {
        id: btn.data('id'),
        title: btn.data('title'),
        userID: btn.data('userid'),
        dateCreated: btn.data('datecreated'),
        status: btn.data('status'),
        description: btn.data('description'),
        remarks: btn.data('remarks'),
        penalty: btn.data('penalty'),
        type: btn.data('type')
      }

      $('#denyReservationTitle').text(reservation.title);
      $('#denyReservationID').text(reservation.id);
      $('#denyReservationType').text(reservation.type);
      $('#denyDateCreated').text(reservation.dateCreated);
      $('#denyDescription').text(reservation.description);
      $('#denyRemarks').val(reservation.remarks);

      $('#denyPenaltyForm').css('display', 'none');
    });

    $('#editReservationModal').on('show.bs.modal', (event) => {
      var btn = $(event.relatedTarget);
      var reservation = {
        id: btn.data('id'),
        title: btn.data('title'),
        userID: btn.data('userid'),
        dateCreated: btn.data('datecreated'),
        status: btn.data('status'),
        description: btn.data('description'),
        remarks: btn.data('remarks'),
        penalty: btn.data('penalty'),
        type: btn.data('type')
      }

      $('#statusModalLabel').text(reservation.title);
      $('#idNum').text(reservation.userID);
      $('#dateCreated').text(reservation.dateCreated);
      $('#description').text(reservation.description);
      $('#remarks').val(reservation.remarks);
      $('#penalty').val(reservation.penalty);
      $('#reservationID').val(reservation.id);
      $('#reservationType').val(reservation.type);

      var pickupPayText;
      if (reservation.type == 'locker')
        $('[value="status-manage-pickup-pay"]').text('To Pay')
      else
        $('[value="status-manage-pickup-pay"]').text('For Pickup')

      $('#remarksForm').css('display', 'none');
      $('#penaltyForm').css('display', 'none');

      switch (reservation.status) {
        case 'Pending':
          console.log('pending');
          $('#status').val('status-manage-pending');
          break;
        case 'To pay':
        case 'For Pickup':
          $('#status').val('status-manage-pickup-pay');
          break;
        case 'On Rent':
          console.log('on rent');
          $('#status').val('status-manage-on-rent');
          break;
        case 'Returned':
          $('#status').val('status-manage-returned');
          break;
        case 'Uncleared':
          $('#status').val('status-manage-uncleared');
          break;
        case 'Denied':
          $('#status').val('status-manage-denied');
          break;
      }

      $('#status').change();

      $('#status').change(function () {
        var status = $(this).val();

        if (status != 'status-manage-pending')
          $('#remarksForm').css('display', 'flex');
        else
          $('#remarksForm').css('display', 'none');

        if (status == 'status-manage-uncleared')
          $('#penaltyForm').css('display', 'flex');
        else
          $('#penaltyForm').css('display', 'none');
      })
    })
  </script>

  <script type="text/javascript" src="/js/styles.js"></script>
</body>

</html>