<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">

  <!-- Custom Styles -->
  <link href="/css/styles.css" rel="stylesheet">
  <link href="/css/styles-profile-page.css" rel="stylesheet">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">

  <!-- FontAwesome -->
  <script src="https://kit.fontawesome.com/9d250896cd.js" crossorigin="anonymous"></script>

  <title>Profile Page</title>
  <link rel="icon" href="/static/logo.png">
</head>

<body>
  <div class="container-fluid">
    <div class="main-container row">
      {{> sidenav act=active sb=sidebarData}}

      <div class="main col-md-9 col-lg-10 ml-sm-auto p-0">
        {{> topnav}}

        <main role="main" class="pt-3 px-4">
          <div class="row col-lg-10 align-items-end mx-auto px-0">

            <h1 class="mb-4 col-12">My Account</h1>

            <div class="col-lg-10 mx-auto">
              <div class="profile-card row mx-auto">

                <div class="col-xl-5 profile-bg-container px-0">
                  <div class="profile-header-bg" style="background-image: url({{sidebarData.dp}});"></div>
                </div>

                <div class="col-xl-5 profile-header px-0">
                  <div id="avatar" class="profile-picture mx-auto" style="background-image: url({{sidebarData.dp}});">
                  </div>
                  <div class="profile-head d-flex flex-column align-items-center pt-3 pb-5">
                    <h5 class="profile-name mb-0">{{user.firstName}} {{user.lastName}}</h5>
                    <h6 class="profile-type mb-4">{{user.type}}</h6>
                    <a id="editProfile" data-toggle="modal" href="#editProfileModal"
                      class="btn btn-white btn-round">Edit Profile</a>
                  </div>
                </div>
                <div class="col-xl-7 d-flex align-items-center px-0">
                  <div class="table-responsive profile-info px-5 py-lg-0 py-5">
                    <table class="table table-borderless">
                      <tbody>
                        <tr>
                          <th scope="row">ID number</th>
                          <td>{{user.idNum}}</td>
                        </tr>
                        <tr>
                          <th scope="row">College</th>
                          <td>{{user.college}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Degree program</th>
                          <td>{{user.degreeProg}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Email address</th>
                          <td>{{user.email}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Mobile number</th>
                          <td>{{user.contactNum}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </main>



        {{> footer}}

      </div>
    </div>
  </div>

  <div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="profileModalLabel">Edit Profile</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="post" action="/profile/{{sidebarData.idNum}}" class="form-horizontal">
          <div class="modal-body col-lg-10 mx-auto">
            <div class="form-group form-inline input-group">
              <label for="phone" class="col-lg-4 justify-content-start">Mobile Number:</label>
              <input type="tel" class="form-control col-lg-8" name="phone" id="phone" placeholder="Enter new contact number" required>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-primary" value="Submit">
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="/js/bootstrap.js"></script>
  <script type="text/javascript" src="/js/styles.js"></script>
  <script type="text/javascript" src="/js/styles-profile.js"></script>
</body>

</html>